*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.navBar {
    font-size: 18px;
    background-color: #F8F9FA;
    padding-bottom: 10px;
}

.navBar-toggle {
    position: relative;
    top: 10px;
    float: right;
    font-size: 20px;
    cursor: pointer;
    color: #000000;
}

.logo{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 10px 0px 0px;
}

.main-nav{
    list-style-type: none;
    display: none;
}

.main-nav li{
    text-align: center;
    margin: 15px auto;
}

.nav-links,
.logo{
    text-decoration: none;
}

.nav-links{
    margin-left: 40px;
}

.active{
    display: block;
}

@media screen and (min-width:769px){


    .navBar{
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav{
        display: flex;
        margin-left: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin-left: 0;
    }

    .logo{
        margin-top: 0;
    }

    .navBar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: #459645;
    }

}